<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Login Page</title>
    <style type="text/css">
        .paint-card {
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
        }

        .clink {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="container p-5" style="margin-top: 60px">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card paint-card">
                    <div class="card-header">
                        <p class="fs-4 text-center">User Forgot Password</p>
                        <p class="fs-4 text-center text-danger" name="errorMessage" style="display: none;"></p>
                        <p class=" fs-4 text-center text-success" name="successMessage" style="display: none;"></p>
                    </div>
                    <div class="card-body">
                        <form action="forgot_password.jsp" method="post">
                            <div class="mb-3">
                                <label class="form-label">Enter Email</label>
                                <input name="email" type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Enter Mob No</label>
                                <input name="mobno" type="text" class="form-control">
                            </div>
                            <button type="submit" class="btn bg-primary text-white col-md-12">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>